{% extends 'aviato/base.html' %}
{% block content %}

    <p class="container fs-1 text-center">Users Table</p>
   <table class = 'container table'>
   <thead>
        <tr>
            <th>Num.</th>
            <th>Username</th>
            <th>Password</th>
            <th>Data</th>
        </tr>
   </thead>
   <tbody>
   {% for m in users%}
   <tr>
       <td>{{ m.id }}</td>
       <td >{{ m.username }}</td>
       <td >{{ m.password }}</td>
       <td >{{ m.time_create_account }}</td>
   </tr>
   {% endfor %}
   </tbody>
   </table>
        <p class="container fs-1 text-center">News Table</p>
   <table class = 'container table'>
   <thead>
        <tr>
            <th>Num.</th>
            <th>Title</th>
            <th>Content</th>
            <th>Data</th>
        </tr>
   </thead>
   <tbody>
   {% for news in news%}
   <tr>
       <td>{{ news.id }}</td>
       <td >{{ news.title }}</td>
       <td >{{ news.content }}</td>
       <td >{{ news.time_create }}</td>
   </tr>
   {% endfor %}
   </tbody>
   </table>


      <table class = 'container table'>
   <thead>
        <tr>
            <th>Num.</th>
            <th>Name</th>
        </tr>
   </thead>
   <tbody>
   {% for cat in cats%}
   <tr>
       <td>{{ cat.id }}</td>
       <td >{{ cat.name }}</td>
   </tr>
   {% endfor %}
   </tbody>
   </table>
{% endblock %}